@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './material-override.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-spacer {
    flex: 1 1 auto;
}

router-outlet + * {
    flex: 1;
    overflow: auto;
}