/**
 * Prebuilt Angular Material themes
 */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

/**
 * Custom Themes
 */
 @import "./theme.scss";
 @import "./material-override.scss";
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-spacer {
    flex: 1 1 auto;
}

router-outlet + * {
    flex: 1;
    overflow: auto;
}
