@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$recipe-app-primary: 	mat-palette($mat-deep-purple, 600);
$recipe-app-accent:  	mat-palette($mat-orange, A400);
$recipe-app-warn:    	mat-palette($mat-yellow, A100);
$recipe-app-bg:		    mat-palette($mat-red, 700);

// Set up the colors for use in components
$primary: 	mat-color($recipe-app-primary);
$accent:	mat-color($recipe-app-accent);
$warn:		mat-color($recipe-app-warn);
$background:mat-color($recipe-app-bg);