<mat-card>
    <mat-card-header>
      <div mat-card-avatar>
          <mat-icon>dining</mat-icon>
      </div>
      <mat-card-title>Chicken Madras</mat-card-title>
      <mat-card-subtitle>Indian Food</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/chicken-madras.webp" alt="chicken madras">
    <mat-card-content>
      <p>
        Make a warming chicken curry for the perfect Friday night fakeaway. From creamy chicken korma and katsu to spicy tomato-based jalfrezi and madras, we've got something for the whole family. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SAVE</button>
      <button mat-button>NEXT</button>
    </mat-card-actions>
  </mat-card>