<a routerLink="home">Home</a>
<a routerLink="recipes">Recipes</a>
<router-outlet></router-outlet>

<!-- <h1>{{ Title }}</h1>
<button mat-button>click me</button>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->