<mat-drawer-container hasBackdrop="true">
  <mat-drawer class='sidenav' #drawer mode="over">
    <app-profile></app-profile>
    <mat-list (mouseup)="drawer.close()">
      <mat-list-item routerLink="home">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
      </mat-list-item>
      <mat-list-item routerLink="recipes">
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <div mat-line>Recipes</div>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
    <app-toolbar (menuClicked)="drawer.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<!-- <a routerLink="home">Home</a>
<a routerLink="recipes">Recipes</a> -->



<!-- <h1>{{ Title }}</h1>
<button mat-button>click me</button>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->